.header {display: block;
background-color: white;
align-items; center;
position:fixed;
width: 100%;
height: 80px;
border-bottom: 1px solid black;
z-index: 1;
font-family: Verdana;
font-size: 14px;
font-weight: bold;
margin-top: 0;
  }
.logo {
flex-grow: 1;
align-items: center;
padding-left: 30px;}

.nav {display: inline-block;
justify-content: flex-end;}

.container{
  display: flex;
    flex-direction: column;
  position: relative;
  color: white;
  justify-content: flex-start;
  }
.column.large {
  width: 630px;
  flex-direction: column;
}

.story1{background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
font-family: Georgia;
width: 630px;
    padding: 10px;
    border: 5px solid gray;
margin-top: 0;
text-align: left;
 font-weight: bold;
 font-size: 40px;
 color: white;}

 .story1txt{
font-family: Georgia;
font-size: 17px;
background-color: white;
color: black;}

.story2 {background-color: white;
font-family: Georgia;
font-size: 17px;
border-style: solid;
color: black;}

.story3 {background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
font-family: Georgia;
 font-weight: bold;
 font-size: 30px;
 text-align: center;
height: 100%;
 color: white;}

.story4 {background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  font-family: Georgia;
   font-weight: bold;
   font-size: 30px;
   text-align: center;
   border-style: solid;
   color: white;}

.column.medium {
  width: 300px;
  border: 2px;

    flex-direction: column;
  border-style: double;
}
.story5 {background-color: white;
  font-family: Georgia;
  font-size: 17px;
  color: black;}

.story6 {background-image: url ("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
font-family: Georgia;
 font-weight: bold;
 font-size: 30px;
 color: white;}

 .story7 {background-color: white;
   font-family: Georgia;
   font-size: 17px;
   color: black;}

.column.small {
  width: 240px;
  border: 2px;
    padding: 10px;
    flex-direction: column;
  border-style: dashed;
}
